@import './mixins/index.styl'

// app global css
html
	font-size 10px
body{	
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
	color $light-color
	font-size 1.4rem
}