// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #2AD4B1  //主色：网站上主题颜色，功能按钮颜色，强调突出文字信息
$secondary = #2C86FF  //辅色：网站上辅助颜色，互相搭配映衬
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #FF3C5C //辅色：网站上辅助颜色，  用于错误，标红提示等重要信息
$info      = #31CCEC
$warning   = #F9B048 //辅色：网站上辅助颜色，互相搭配映衬

//text color
$light-color = #333 //普通：用于文字标题，正常突出显示, 如信息标题，标签
$normal-color = #666 //次级：用于文字正文，书写内容  如正文，表格内容，次要信息
$dark-color = #999 //辅色：用于备注，提示等文字信息  如提示性文字，备注等

//separator、border color
$separator-color = #e7e7e7

$border-color = #ddd //普通边框
$border-color-1 = #dedede //另外一种主边框

$input-border-color = $border-color //表单边框
$input-border-color-1 = $border-color-1 //表单另一种边框

//text font-size
$font-size = 1.4rem //标准字体大小
$title-font-size = 1.6rem //标准title字体大小
$lg-font-fize = 3rem //网页最大字号，用于页面，弹窗标题
$content-font-size = $font-size //正文内容，按钮，注释

$md-title-font-size = 2rem //二级标题
$lg-title-font-size = 2.4rem //用于部分大标题

$title-font-size-2 = 1.6rem //用于导航栏，二级标题,标红文字

//button
$button-font-size = $font-size //普通按钮
$sm-button-font-size = 1.2rem //用于小按钮
$md-button-font-size = 2rem //用于中按钮
$lg-button-font-size = 2.4rem //用于大按钮

//nav font-size
$nav-font-size = $title-font-size //导航栏

$hint-font-size = $font-size //注释
$sm-hint-font-size = 1.2rem  //注释





